@using Domain.Modules.Base.Consts
@using Domain.Modules.Base.ViewModels
@using Shared.Enums
@model ValueViewModel

<div class="card-header float-right">
    <button id="SaveAndBackButtonName" class="btn btn-success margin-button BackToListPage">Save and back</button>
    <button id="SaveButtonName" class="btn btn-primary margin-button">Save</button>
    <button id="BackButtonName" class="btn btn-info margin-button">Back</button>
</div>
